body {
  box-sizing: border-box;
}

/* header */

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.title {
  align-self: center;
}

.picture > img {
  height: 200px;
  width: 200px;
  /* margin-top: 50px; */
  align-self: flex-end;
  margin-left: -200px;
}
