body {
  margin: 0;
  font-size: 16px;
  width: 100%;
}

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #00669f;
  --color-secondary: #1cd1b0;
  --bg-color-nav: #001d2d;
}

li {
  color: #fff;
  display: inline;
  list-style: none;
  padding: 0.5em;
}

a {
  text-decoration: none;
}
/******************** Header Mobile **********************************/

header {
  margin: 0;
}

.top {
  background-color: var(--color-secondary);
  font-weight: bold;
  margin: 0;
  padding-left: 1em;
}

.logo {
  background-color: var(--primary-color);
  display: flex;
  padding-left: 1em;
}

.logo > p {
  color: #fff;
  font-size: 1.5em;
}

nav {
  background-color: var(--bg-color-nav);
  display: flex;
  justify-content: center;
  align-items: center;
}

/********************** Section Cards Mobile *********************************/

.section {
  background-color: #e5e5e5;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2em;
  width: 90%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 18.75em;
  background-color: rgb(147, 143, 151);
  padding: 1em;
}

.img-perfil {
  border-radius: 50%;
  margin-top: -4em;
}

.img-header {
  max-width: 100%;
}

.vector {
  position: relative;
  top: 3em;
  left: -5em;
}

.btn {
  background-color: var(--primary-color);
  border: none;
  color: #fff;
  height: 3em;
  padding: 1em 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

.btn-radius {
  border-radius: 50%;
  border: none;
  background-color: #00669f;
  padding: 1.5em 1.8em;
}

section {
  margin-bottom: 2em;
}
a {
  color: #fff;
  font-weight: bold;
  font-size: 1.5em;
}

/************************** FOOTER MOBILE **************************************/
footer {
  background-color: var(--primary-color);
  padding: 1em;
  text-align: center;
  margin: auto;
}

/************************** HEADER TABLET RESPONSIVE DESIGN *******************************/

@media (min-width: 481px) {
  nav {
    justify-content: space-around;
  }

  .card {
    max-width: 200%;
  }
}

/************************** HEADER & SECTION LAPTOP RESPONSIVE DESIGN *******************************/

@media (min-width: 795px) {
  nav {
    justify-content: flex-end;
  }
  li {
    padding-right: 2.5em;
  }

  .container {
    flex-direction: row;
    justify-content: space-around;
    margin: 1em;
  }

  .card {
    margin: 1em;
  }
}

/* animaciones */

button:hover {
  cursor: pointer;
}

/****************************** FORM DESKTOP **************************/
section {
  background-color: var(--primary-color);
  border-radius: 2em;
  color: #fff;
  margin: 1.5em;
  padding: 1em;
  width: 90%;
  margin: 2em auto;
}

section h1,
section p {
  text-align: center;
}

.input-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-box > div {
  margin: 1em;
  width: 50%;
}

.input {
  width: 100%;
  border: none;
  border-radius: 1.5em;
  padding: 1em 2em;
  margin-top: 0.8em;
}

textarea {
  width: 100%;
}

.chbox {
  margin-top: 1em;
}

.btn-form {
  background-color: var(--color-secondary);
  border: none;
  border-radius: 2em;
  font-size: 1.3em;
  font-weight: bold;
  padding: 1.5em 3.5em;
  width: 70%;
  margin-left: 15%;
}

/*********************** FORM MOBILE **************************************/

@media (max-width: 648px) {
  .input-box {
    flex-direction: column;
  }

  .input-box > div {
    width: 100%;
  }

  .checkboxs {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .type {
    margin-left: -1.5em;
  }

  .btn-form {
    width: 100%;
    margin: 0;
  }
}
