/******** Footer **********/

footer {

    p {
        background-color: #005677;
        color: #ffff;
        font-size: 25px;
        /* font-weight: bolder; */
        text-transform: uppercase;
        height: 30px;
        line-height: 30px;
        text-align: center;
    }

    .icono {
        margin-right: 1%;
    }

    
    .left {
        margin-left: 1%;
    }
 
}


